<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WixSetup.Package" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="5c37ad2e-c30e-4765-a414-bb258ad753a5">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
